@{
   ViewData["Title"] = "Report page";
}

<div class="text-center">
    <h3 class="display-4">Create new report:</h3>
    <a class="btn btn-outline-dark" role="button" asp-controller="Report" asp-action="ReportType">
        Create new report
    </a>
</div>

