@{
       ViewData["Title"] = "Report choice page";
}

<h1>Choose neccessary report</h1>
<div class="form-group col-md-5 mb-2">
    <label for="reportTypeSelectGroup">Report type</label>
    <select class="form-control mt-2" id="reportTypeSelectGroup1">
        <option>ReportTemplate1</option>
        <option>ReportTemplate2</option>
        <option>ReportTemplate3</option>
        <option>ReportTemplate4</option>
        <option>ReportTemplate5</option>
    </select>
    <button type="button" class="btn btn-dark mt-2">Create</button>
</div>



